@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

@keyframes flowDash {
  from {
    stroke-dashoffset: 28;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-flow-dash {
  animation: flowDash 0.8s linear infinite;
}
